.rating:not(:checked)>label {
    color: black;
}

.rating {
    gap: 4px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.rating label {
    cursor: pointer;
    transition: color 0.2s ease;
}

.rating label {
    font-size: 36px;
}

input[type="radio"] {
    display: none;
}

.rating>input:checked~label {
    color: orange
}


.rating>label:hover,
.rating>label:hover~label {
    color: orange !important;
}