.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* fills full screen */
  background-color: #f0f0f0;
}

.login-ctr {
  background-color: rgba(100, 23, 4, 0.336);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: fit-content; /* Dynamic width */
}
.loginbtn {
   width:5rem;
  background: black;
  margin-left:10px;
  
  border-radius: 5px;
  height: 35px;
  color:white;
}
.login-container input,
.login-container p {
  width: 250px; /* Controls the input size */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  
}
 h1 {
  padding: 10px 0;
  margin: 0;
}

.button-div {
  display: flex;
  flex-direction: column;
  
}



button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 300px) {
  .cancelbtn {
    width: 100%;
  }
}